<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.b.aman.atable"  android:versionCode="2" android:versionName="1.0.1">


    <uses-permission
        android:name="com.example.aman.table.permission.C2D_MESSAGE"
        tools:node="remove" />
    <permission
        android:name="com.example.aman.table.permission.C2D_MESSAGE"
        tools:node="remove" />
    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_icon_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.b.aman.atable.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"> <!--to remove top activities-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.b.aman.atable.DetailActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.b.aman.atable.PracticeTable"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.b.aman.atable.ActivityQuiz"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a64eefc60a687823f0927182ab578a88bb138930" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>