<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_icon_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"> <!-- Required for Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuiz"
            android:screenOrientation="portrait" />

        <!-- Optional legacy Crashlytics metadata -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a64eefc60a687823f0927182ab578a88bb138930" />

    </application>

</manifest>
